<html>

 <head>
  <title>BLOG</title>
 </head>

 <body>
 	<h3>ITS A BLOG WITH THE USE OF FLASK AND PYTHON</h3>
  <form action="/intake" method="POST" enctype="multipart/form-data">
  	<p><textarea name ="blog_title" id = "blog_title" cols = "50" rows="2" placeholder = "SET YOUR TITLE HERE"></textarea></p>
  	<p><textarea name="blog_content" id="blog_content" cols= "50" rows = "10" placeholder = "WRITE YOUR DATA HERE"></textarea></p>
  	<p><input type = "file" name = "file" ></p>
  	<p><input type="submit" name="submt" id="submit" value="SUBMIT"></p>
  </form>
  
  <div name= "resul">

		{% for row in show %}
            <h1>{{ row[1] }}</h1>
            <p>{{ row[2] }}</p>
            <br><hr>
        {% endfor %}
  
  </div>
 
 </body>

</html>
